/* WOOCOMMERCE */

a.remove {
    background-color: var(--color1);
    color: var(--color2);
    padding: 1rem;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

#single-product div.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.woocommerce-notices-wrapper {
    padding: 2rem;
    margin-bottom: 3rem;
}

.woocommerce-product-rating { 
    display: none;
}

.product_meta span {
    display: block;
}

.quantity {
    display: inline;
}

button.button {
    display: inline-block;
}

p.price {
    font-size: 6rem;
}

.product_title {
    margin-bottom: 1rem;
}


@media screen and (max-width: 1024px) {
    #single-product div.product {
        grid-template-columns: 1fr;
    }
}

