/* WOOCOMMERCE */

input, select, textarea {
    border: 0;
    padding: 1rem;
    background-color: var(--color3);
    font-family: inherit !important;
    border-radius: 1rem;
    color: var(--color2);
}

#order_review_heading {
    display: none;
}

h3#order_payment_heading {
    margin-bottom: 2rem;
}

.col-1, .col-2 {
    float: none !important;
    width: 100% !important;
}

a.remove {
    background-color: var(--color1);
    color: var(--color2);
    padding: 1rem;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

#single-product div.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.woocommerce-notices-wrapper {
    margin-bottom: 3rem;
}

.woocommerce-product-rating { 
    display: none;
}

.product_meta span {
    display: block;
}

.quantity {
    display: inline;
}

button.button {
    display: inline-block;
}

button, .button {
    background-color: var(--color2) !important;
    border-radius: 1rem !important;
    padding: 1rem !important;
    color: var(--color1) !important;
}

p.price {
    font-size: 6rem;
}

.product_title {
    margin-bottom: 1rem;
}

form.checkout.woocommerce-checkout {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 1024px) {
    #single-product div.product {
        grid-template-columns: 1fr;
    }
    form.checkout.woocommerce-checkout {
        grid-template-columns: 1fr;
    }
}

