/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ALLGEMEIN */

:root {
    /* COLORS */
    --color1: #000;
    --color2: #fff;
    --color3: #ff0000;
    --color4: #0000ff;
    --color5: #00ff00;
    --color6: #ffff00;
    --color7: #00ffff;
    --color8: #ff00ff;

    /* DISTANCES */
    --gap: 50px;
    --gap-mobile: 25px;

    --padding: 50px;
    --padding-mobile: 25px;

    --font-size: 15px;
    --font-mobile: 15px;

    --line-height: 1.5em;
    --max-width: 1500px;
    --max-width-small: 750px;
    --font-size-headline: 75px;
}

* {
    box-sizing: border-box;
    position: relative;
}

.background-1 {
    background-color: var(--color1);
}

.background-2 {
    background-color: var(--color2);
}

.background-3 {
    background-color: var(--color3);
}

.background-4 {
    background-color: var(--color4);
}

.background-5 {
    background-color: var(--color5);
}

.background-6 {
    background-color: var(--color6);
}

.background-7 {
    background-color: var(--color7);
}

.background-8 {
    background-color: var(--color8);
}

.color-1 {
    color: var(--color1);
}

.color-2 {
    color: var(--color2);
}

.color-3 {
    color: var(--color3);
}

.color-4 {
    color: var(--color4);
}

.color-5 {
    color: var(--color5);
}

.color-6 {
    color: var(--color6);
}

.color-7 {
    color: var(--color7);
}

.color-8 {
    color: var(--color8);
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: var(--font-size);  
    line-height: var(--line-height);
}

.container {
    padding: var(--padding);
}

.container-horizontal {
    padding: 0px var(--padding);
}

.container-vertical {
    padding: var(--padding) 0px;
}

.boxed {
    max-width: var(--max-width);
    margin: 0 auto;
}

.columns {
    display: flex;
}

.column {
    flex-grow: 1;
    min-width: 0;
}

.column-full-width {
    margin-right: calc((50vw - 50%)* -1);
}
.column-50 {
    max-width: 50%;
    min-width: 50%;
}

.column-40 {
    max-width: 40%;
    min-width: 40%;
}

.flex {
    display: flex;
}

.align-content-center {
    align-content: center;
}

.gap {
    gap: var(--gap);
}

img {
    width: 100%;
}

.full-height {
    height: 100vh;
}

.object-fit-cover {
    object-fit: cover;
}

.z-index {
    z-index: 99999;
}

@media screen and (max-width: 1024px) {
    .container {
        padding: var(--padding-mobile);
    }
    .columns {
        flex-direction: column;
    }
    .column-50, .column-40 {
        max-width: unset;
        min-width: unset;
    }
    .columns-reverse {
        flex-direction: column-reverse;
    }
    .gap {
        gap: var(--gap-mobile);
    }
    .full-height {
        height: 50vh;
    }
}